body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 20px;
  min-width: 1070px;
}

.header {
  font-size: 50px;
  font-weight: 300;
  margin: 10px 0;
}

.subheader {
  font-size: 30px;
  font-weight: 300;
}

.icon-btn {
  background: none;
  border: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-list {
  background: none;
  font-size: 18px;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.calendar {
  margin-top: 0;
  display: flex;
}

.icon-grid ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-grid {
  flex: 1;
}

.meal-types {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-left: 152px;
}

.meal {
  font-size: 23px;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100px;
  justify-content: center;
}

.meal svg {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.search-container h3 {
  text-align: center;
}

.food-input {
  width: 90%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  outline: none;
}

.search {
  display: flex;
}

.loading {
  align-self: center;
  margin: 0 auto;
}

.days h3 {
  padding: 50px 0;
}

.food-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.food-list img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 3px;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-list li {
  font-size: 24px;
  padding: 5px;
}

.food-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-item img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

.food-item button {
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 5px;
}
.buttonStyle {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: #326777;
  text-align:center;
  transition: all 0.2s;
}
.buttonStyle:hover{
  color:#000000;
  background-color:#FFFFFF;
}
@media all and (max-width:30em) {
a.button1 {
  display:block;
  margin:0.4em auto;
}
} 